absl-py==0.2.2
anaconda-client==1.6.3
astor==0.6.2
awsebcli==3.14.4
backports.weakref==1.0rc1
beautifulsoup4==4.6.3
bleach==1.5.0
blessed==1.15.0
boto==2.49.0
boto3==1.8.7
botocore==1.11.7
bs4==0.0.1
bz2file==0.98
cached-property==1.4.3
cement==2.8.2
certifi==2018.8.24
chardet==3.0.4
click==6.7
cloudpickle==0.5.5
clyent==1.2.2
colorama==0.3.9
colorclass==2.2.0
cycler==0.10.0
dask==0.19.0
decorator==4.1.2
docker==3.5.0
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
Flask==0.12.2
Flask-Cors==3.0.3
gast==0.2.0
gensim==3.5.0
get==1.0.3
glove-python==0.1.0
googletrans==2.3.0
grpcio==1.12.0
h5py==2.8.0
html5lib==0.9999999
imageio==2.3.0
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
jmespath==0.9.3
joblib==0.11
JPype1==0.6.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
konlpy==0.4.4
lxml==4.2.4
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.7.4
nb-anacondacloud==1.4.0
nb-conda==2.2.0
nb-conda-kernels==2.1.0
nbconvert==5.2.1
nbformat==4.4.0
nbpresent==3.0.2
networkx==2.1
nltk==3.3
notebook==5.0.0
numpy==1.14.5
packaging==17.1
pandas==0.20.3
pandocfilters==1.4.2
pathspec==0.5.5
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.2.0
pip-upgrader==1.4.6
post==1.0.2
progressbar2==3.38.0
prompt-toolkit==1.0.15
protobuf==3.5.2
psutil==5.4.7
psycopg2==2.7.4
ptyprocess==0.5.2
public==1.0.3
Pygments==2.2.0
pyparsing==2.2.0
python-crfsuite==0.9.6
python-dateutil==2.7.3
python-utils==2.3.0
pytz==2017.2
PyWavelets==1.0.0
PyYAML==3.13
pyzmq==16.0.2
qtconsole==4.3.1
query-string==1.0.2
request==1.0.2
requests==2.9.1
s3transfer==0.1.13
scikit-image==0.14.0
scikit-learn==0.19.0
scipy==1.1.0
seaborn==0.8
selenium==3.11.0
semantic-version==2.5.0
simplegeneric==0.8.1
six==1.11.0
slackclient==1.2.1
smart-open==1.6.0
soynlp==0.0.46
statsmodels==0.8.0
tabulate==0.7.5
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-tensorboard==0.1.5
tensorlayer==1.8.0
termcolor==1.1.0
terminado==0.6
terminaltables==3.1.0
testpath==0.3
texttable==0.9.1
toolz==0.9.0
tornado==4.5.2
tqdm==4.23.4
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.52.0
Werkzeug==0.12.2
widgetsnbextension==3.0.2
wrapt==1.10.11
xgboost==0.80
